<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Title</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <h1>Welcome to our online shopping portals</h1>
    <ul>
      <li><a href="/electronics">Electronics</a></li>
      <li><a href="/toys">Toys</a></li>
      <li><a href="/shoes">Shoes</a></li>

      {% comment %}
      <li>
        <a href="/electronics"
          ><img src="static/images/khidir.png" alt="product1"
        /></a>
        <a href="/toys"
          ><img src="static/images/khidir.png" alt="product1"
        /></a>
        <a href="/shoes"
          ><img src="static/images/khidir.png" alt="product1"
        /></a>
      </li>
      {% endcomment %}
    </ul>
  </body>
</html>
